body {
  font-family: sans-serif;
  background-color: #f9fbf2;
}

.col-sm-4 {
  background-color: #ffede1;
}

#suggestionHeading {
  display: none;
}

.destinations {
  text-align: center;
}

.destinations div {
    display: none;
}

.destinations p {
  padding: 10px;
}

.styleDestination {
  background-color: #afcbff;
}

.secondStyleDestination {
  background-color: #d7f9ff;
}
