body {
  font-family: sans-serif;
  background-color: #f9fbf2;
  padding: 6px;
}

.inputForm {
  background-color: #ffede1;
  border-radius: 10px;
  padding: 10px;
}

#suggestionHeading {
  display: none;
}

.destinations {
  text-align: center;
}

.destinations div {
  display: none;
  margin-top: 10px;
}

.destinations p {
  padding: 10px;
}

.destinations h3 {
  font-size: 36px;
  margin: 0px;
  padding: 10px;
}

.destinations h4 {
  margin: 0px;
  padding: 10px;
  font-size: 30px;
}

.styleDestination {
  background-color: #afcbff;
  border-radius: 10px;
}

.secondStyleDestination {
  background-color: #d7f9ff;
  border-radius: 10px;
}
